@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  background-color: #F6F6F6;
  margin: 0;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.symbol {
  position: absolute;
  top: 0.55rem;
  left: 8.5rem;
}

.App header {
  background-color: #FAFAFA;
  height: 9vh;
  min-height: 50px;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

main {
  padding: 10px;
  height: 75vh;
  margin: 10vh 0 10vh;
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 9vh;
  position: fixed;
  bottom: 0;
  width: calc(100% - 0.5rem);
  margin-left: 0.3rem;
  margin-bottom: 0.1rem;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form button {
  width: 10%;
  border-radius: 0% !important;
}


input {
  line-height: 1.5;
  width: 90%;
  font-size: 1rem;
  background: #f3f4f5;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0.1px solid rgba(128, 128, 128, 0.096);
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.sign-in {
  background: white;
  margin: 0 auto;
}

.signin-container {
  margin: auto;
  width: 40%;
  margin-top: 10rem;
  max-width: 100vh;
}

.signin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 50vh;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}

.signin-page h1 {
  color: #424242;
}

.signin-page h4 {
  color: #2c2c2c;
  line-height: 1.6;
  font-size: 16px;
}

.signin-btn {
  font-size: 16px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  font-weight: bold !important;
  margin: 1rem !important;
}

.btn-name {
  margin-top: 2px;
}

.brand-logo {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
}

.google-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 300px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  background: rgba(0, 255, 0, 0.644);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-start;
}

.received p {
  background: lime;
  color: #e5e5ea;
  align-items: flex-end;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .App header {
    height: 4rem;
  }

  h1 {
    font-size: 22px;
  }

  form {
    height: 4rem;
  }

  form button {
    width: 35%;
  }

  input {
    font-size: large;
  }

  .symbol {
    top: 0.18rem;
    left: 7.2rem;
  }

  .signin-container {
    margin: auto;
    margin-top: 9rem;
    width: 85%;
  }

  .signin-page h4 {
    font-size: 15px;
  }

}